# Fast API
uvicorn
fastapi[all]
python-multipart
# LangChain and LLM
langchain
PyPDF2
pypdf
vertexai 
langchain_google_genai

# Computer Vision
opencv-python
face-recognition
numpy

# environment
python-dotenv
langchain_community

# voice helper 

pymysql>=1.1.0
pyttsx3==2.90
speechrecognition==3.10.0
pydub==0.25.1
cryptography>=3.4.8



